*.suo
*.suo
PersonalShopperApplication/.vs/PersonalShopperApplication/v15/.suo
*.suo
PersonalShopperApplication/.vs/PersonalShopperApplication/v15/.suo
PersonalShopperApplication/.vs/PersonalShopperApplication/v15/.suo
PersonalShopperApplication/.vs/PersonalShopperApplication/v15/.suo
